%h1 All user

%table
  %thead
    %tr
      %th Role
      %th Email
      %th{:colspan => "3"}
      %th{:colspan => "3"}

  %tbody
    - @users.each do |user|
      %tr
        %td= user.role.name
        %td= user.email
        %td= link_to 'Show', user
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Back', current_user