= form_for @processor do |f|
  - if @processor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@processor.errors.count, "error")} prohibited this processor from being saved:"
      %ul
        - @processor.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :operating_system
    = f.check_box :operating_system
  .field
    = f.label :clock_frequency
    = f.number_field :clock_frequency
  .field
    = f.label :number_cores
    = f.text_field :number_cores
  .actions
    = f.submit 'Save'
