.container
  %h1 Laptops
  .row
  - @laptops.each do |lap|
    .col-sm
      - if lap.image.present?
        = link_to image_tag(lap.image, class: 'style_image'), lap.image
        .col-md-10.col-md-offset-1
          = link_to lap.full_name, lap
          %br
          = lap.price
          %b $
    %td
    - if can? :update, lap
      = link_to 'Edit', edit_laptop_path(lap)
    %td
    - if can? :destroy, lap
      = link_to 'Destroy', lap, method: :delete, data: { confirm: 'Are you sure?' }